---
type Props = {
  title: string;
};
const { title } = Astro.props;
---

<div title={title} class="flex flex-col gap-8">
  <div class="grid place-items-center">
    <slot name="contact-info-icon" />
  </div>

  <div>
    <slot name="contact-info-description" />
  </div>
</div>
