---
import { getLangFromUrl } from "@/i18n/utils";
import HeroBackgroundMobileImage from "@/images/hero-image-mobile.jpeg";
import HeroBackgroundImage from "@/images/hero-image.png";
import LogoImage from "@/images/logo.jpeg";
import { Image } from "astro:assets";
import LanguagePicker from "../LanguagePicker/LanguagePickerHero.astro";

const lang = getLangFromUrl(Astro.url);
---

<section
  class="landing-hero-container p-8 sm:p-16 grid grid-cols-2 grid-rows-2 relative"
>
  <Image
    class="hidden absolute -z-10 inset-0 w-full h-full md:block"
    src={HeroBackgroundImage}
    alt="Background of landing hero"
    quality={100}
  />

  <Image
    class="absolute -z-10 inset-0 w-full h-full md:hidden"
    src={HeroBackgroundMobileImage}
    alt="Background of landing hero"
    quality={100}
  />

  <LanguagePicker />
  <Image
    src={LogoImage}
    class="w-full h-auto max-w-[19.5rem] mix-blend-multiply"
    alt={`${lang === "pt" ? "Logo de Delfim Maia" : "Logo of Delfim Maia"}`}
    quality={100}
  />
  <div></div>
  <div class="hidden sm:block"></div>
  <section
    class="absolute right-2 bottom-0 sm:bottom-4 sm:right-4 xl:right-8 xl:bottom-4 justify-end items-end text-white"
  >
    {
      lang === "pt" ? (
        <p class="text-right tracking-wider leading-9">
          <span class="text-lg xl:text-xl">Mais de</span>
          <span class="text-2xl xl:text-2xl font-semibold">40 anos</span>
          <br />
          <span class="text-lg xl:text-xl">a</span>
          <span class="text-2xl xl:text-2xl font-semibold">estudar</span>
          <span class="text-lg xl:text-xl">o</span>
          <span class="text-2xl xl:text-2xl font-semibold">direito,</span>
          <br />
          <span class="text-lg xl:text-xl">a</span>
          <span class="text-2xl xl:text-2xl font-semibold">lutar</span>
          <span class="text-lg xl:text-xl">pela</span>
          <span class="text-2xl xl:text-2xl font-semibold">justiça</span>
          <span class="text-lg xl:text-xl">e a</span>
          <>
            <br />
            <span class="text-lg xl:text-xl">criar</span>
          </>
          <span class="text-2xl xl:text-2xl font-semibold">relações</span>
          <span class="text-lg xl:text-xl">de</span>
          <span class="text-2xl xl:text-2xl font-semibold">confiança.</span>
        </p>
      ) : (
        <>
          <p class="text-right tracking-wider leading-9">
            <span class="text-lg xl:text-xl">More than</span>
            <span class="text-2xl xl:text-2xl font-semibold">40 years</span>
            <br />
            <span class="text-lg xl:text-xl sm:text-2xl xl:text-2xl font-semibold">
              studying law,
            </span>
            <br />
            <span class="text-lg xl:text-xl sm:text-2xl xl:text-2xl font-semibold">
              fighting
            </span>
            <span class="text-lg xl:text-xl">for</span>
            <span class="text-2xl xl:text-2xl font-semibold">justice</span>
            <span class="text-lg xl:text-xl">and</span>
            <br /> <span class="text-lg xl:text-xl">building</span>
            <span class="text-2xl xl:text-2xl font-semibold">
              trusting relationships.
            </span>
          </p>
        </>
      )
    }
  </section>
</section>
