---
import AboutUs from "@/components/AboutUs.astro";
import Contacts from "@/components/ContactSection/Contacts.astro";
import ExpertiseAreas from "@/components/ExpertiseAreas.astro";
import LandingHero from "@/components/LandingHero.astro";
import TeamSection from "@/components/TeamSection.astro";
import "@/styles/globals.css";
import Layout from "../../layouts/Layout.astro";
---

<Layout revealNavbarOnScroll>
  <main class="h-full flex flex-col">
    <LandingHero />
    <AboutUs />
    <TeamSection />
    <ExpertiseAreas />
    <Contacts />
  </main>
</Layout>
