---
import "@/styles/globals.css";
import Layout from "../../layouts/Layout.astro";
---

<Layout revealNavbarOnScroll={false} title="Políticas de Privacidade">
  <main class="min-h-d-screen p-7 pt-28 flex flex-col gap-8">
    <h4 class="text-xl text-delfim-primary font-semibold">Políticas:</h4>
    <h5 class="text-xl text-delfim-primary font-semibold">
      Política de Privacidade
    </h5>

    <p class="text-base">
      A Delfim Maia - Advogados respeita a sua privacidade. A Política de
      Privacidade descreve quem somos, para que finalidades podemos usar os seus
      dados, como os tratamos, com quem os partilhamos, durante quanto tempo os
      conservamos, assim como as formas de entrar em contacto connosco e de
      exercer os seus direitos.
    </p>

    <div class="text-base">
      <b>Quem somos?</b>
      <p>
        Os seus dados serão tratados por José Delfim Maia da Silva, com sede na
        Av. Dr. Artur da Cunha Araújo, nº 317, 4480-656 Vila do Conde, número de
        telefone +(351) 252 640 720, doravante “DM-Advogados” ou “nós”, que
        assume como responsável pelo tratamento de dados pessoais na aceção do
        Regulamento Geral sobre a Proteção de Dados.
      </p>
    </div>

    <div class="text-base">
      <b>Porque tratamos a sua informação?</b>
      <p>
        A DM-Advogados apenas tratará os seus dados pessoais: Para efeitos de
        cumprimento de um contrato, como por exemplo contratos de prestação de
        serviços jurídicos, ou contratos com os nossos fornecedores; Na
        prossecução de um interesse legítimo, nomeadamente para -
        Desenvolvimento e manutenção do nosso site, - Prestação de assistência
        técnica; - Prevenção e deteção de fraude; - Assegurar a segurança da
        rede e de informação; - Prestação de serviços ou informação. Com o seu
        consentimento para tratar os seus dados pessoais para finalidades
        específicas, explícitas e legítimas; e/ou se for necessário para cumprir
        com obrigações legais que se lhe apliquem.
      </p>
    </div>

    <div class="text-base">
      <b>Para que tratamos a sua informação?</b>
      <p>
        Quando preenche os formulários disponibilizados no nosso escritório /
        site, os seus dados pessoais (como o nome, e-mail, número de telefone ou
        morada) são recolhidos pela DM-Advogados e tratados de forma a responder
        às suas questões e pedidos ou a prestar-lhe informação. Se se registar
        para um dos nossos eventos, alguns dos seus dados pessoais poderão ser
        partilhados com entidades organizadoras do dito evento e/ou com outros
        participantes.
      </p>
    </div>

    <div class="text-base">
      <b>Tem alguma dúvida?</b>
      <p>
        Se permanecer com alguma dúvida relativamente ao tratamento dos seus
        dados pessoais, ou pretender exercer algum dos seus direitos, por favor
        contacte-nos:
      </p>
    </div>

    <p class="text-base">E-mail: geral@delfimmaia.pt</p>

    <p class="text-base">
      Morada: Av. Dr. Artur da Cunha Araújo, nº 317 4480-656 Vila do Conde.
    </p>

    <p class="text-base">
      Por favor tenha em consideração que, ocasionalmente, a DM-Advogados
      atualizará esta Política de Privacidade. Solicitamos-lhe que reveja
      periodicamente este documento para se manter atualizado.
    </p>

    <h5 class="text-xl text-delfim-primary font-semibold">
      Política de cookies
    </h5>
    <p class="text-base">
      “Cookies” são pequenas etiquetas de software que são armazenadas no seu
      computador através do navegador (browser), retendo apenas informação
      relacionada com as suas preferências, não incluindo, como tal, os seus
      dados pessoais. A DM-Advogados poderá utilizar “cookies” com o objetivo de
      ajudar a determinar a utilidade, interesse e o número de utilizações dos
      seus websites, permitindo uma navegação mais rápida, eliminando a
      necessidade de introduzir repetidamente as mesmas informações. O uso de
      cookies é uma prática normal entre os websites da Internet, sendo que a
      maioria dos navegadores da Internet permite que um usuário possa aceitar,
      recusar ou apagar cookies, nomeadamente através da seleção das definições
      apropriadas no respetivo navegador. Os "cookies" utilizados pela
      DM-Advogados respeitam o anonimato e não serão usados para recolher
      qualquer informação de caráter pessoal. Note que através do seu browser
      pode desativar os cookies, seja para o presente site, seja para todos os
      sites que visita.
    </p>
  </main>
</Layout>
