---
import { languages } from "@/i18n/ui";
---

<ul class="absolute hidden lg:flex lg:right-0 lg:top-12 flex-col gap-2">
  {
    Object.entries(languages).map(([language]) => (
      <li class="bg-delfim-primary text-white py-2 pl-2 pr-12">
        <a
          class="uppercase text-sm font-semibold hover:underline"
          href={`/${language}/`}
        >
          {language}
        </a>
      </li>
    ))
  }
</ul>
