---
import AboutUs from "@/components/AboutUsSection/AboutUs.astro";
import Contacts from "@/components/ContactSection/Contacts.astro";
import ExpertiseAreas from "@/components/ExpertiseAreas/ExpertiseAreas.astro";
import LandingHero from "@/components/Hero/LandingHero.astro";
import TeamSection from "@/components/Team/TeamSection.astro";
import "@/styles/globals.css";
import Layout from "../../layouts/Layout.astro";
---

<Layout revealNavbarOnScroll>
  <main class="h-full flex flex-col">
    <LandingHero />
    <AboutUs />
    <TeamSection />
    <ExpertiseAreas />
    <Contacts />
  </main>
</Layout>
