---
import "@/styles/globals.css";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Policies">
  <main class="min-h-d-screen p-8 lg:px-24 flex flex-col gap-8">
    <h4 class="text-xl text-delfim-primary font-semibold">Policies:</h4>
    <h5 class="text-xl text-delfim-primary font-semibold">Privacy Policy</h5>

    <p class="text-base">
      Delfim Maia - Advogados respects your privacy. The Policy of Privacy
      describes who we are, for what purposes we may use your data, how we treat
      it, who we share it with, for how long we we keep, as well as the ways of
      contacting us and exercise your rights.
    </p>

    <div class="text-base">
      <b>Who we are?</b>
      <p>
        Your data will be processed by José Delfim Maia da Silva, based in Av.
        Dr. Artur da Cunha Araújo, nº 317, 4480-656 Vila do Conde, number of
        telephone +(351) 252 640 720, henceforth “DM-Advogados” or “we”, which
        assumes responsibility for the processing of personal data within the
        meaning of General Data Protection Regulation.
      </p>
    </div>

    <div class="text-base">
      <b>Why do we process your information?</b>
      <p>
        DM-Advogados will only process your personal data: For the purposes of
        fulfillment of a contract, such as service provision contracts legal
        services, or contracts with our suppliers; At pursuit of a legitimate
        interest, in particular to - Development and maintenance of our website,
        - Provision of assistance technique; - Prevention and detection of
        fraud; - Ensure the safety of network and information; - Provision of
        services or information. With your consent to process your personal data
        for purposes specific, explicit and legitimate; and/or if necessary to
        comply with legal obligations that apply to it.
      </p>
    </div>

    <div class="text-base">
      <b>Why do we process your information?</b>
      <p>
        When you fill out the forms available at our office / website, your
        personal data (such as name, email, telephone number or address) are
        collected by DM-Advogados and processed in order to respond to your
        questions and requests or to provide you with information. If you
        register for one of our events, some of your personal data may be shared
        with entities organizing said event and/or with other participants.
      </p>
    </div>

    <div class="text-base">
      <b>Do you have any doubt?</b>
      <p>
        If you still have any doubts regarding the treatment of your personal
        data, or wish to exercise any of your rights, please contact us:
      </p>
    </div>

    <p class="text-base">E-mail: geral@delfimmaia.pt</p>

    <p class="text-base">
      Address: Av. Dr. Artur da Cunha Araújo, nº 317 4480-656 Vila do Conde.
    </p>

    <p class="text-base">
      Please bear in mind that, from time to time, DM-Advogados will update this
      Privacy Policy. We ask you to review Periodically review this document to
      keep it up to date.
    </p>

    <h5 class="text-xl text-delfim-primary font-semibold">Cookies policy</h5>
    <p class="text-base">
      “Cookies” are small software tags that are stored on your computer through
      the browser, retaining only information related to your preferences, not
      including, as such, your personal data. DM-Advogados may use “cookies” for
      the purpose of help determine the usefulness, interest and number of uses
      of their websites, allowing faster navigation, eliminating the need to
      repeatedly enter the same information. The use of Cookies are a normal
      practice among Internet websites, and the Most Internet browsers allow a
      user to accept, refuse or delete cookies, in particular by selecting
      settings appropriate in the respective browser. The "cookies" used by
      DM-Lawyers respect anonymity and will not be used to collect any
      information of a personal nature. Please note that through your browser
      You can disable cookies, whether for this website or for all websites you
      visit.
    </p>
  </main>
</Layout>
