---
import "@/styles/globals.css";
import Layout from "../../layouts/Layout.astro";
---

<Layout revealNavbarOnScroll={false} title="Terms and Conditions">
  <main class="min-h-d-screen p-7 pt-28 flex flex-col gap-8">
    <h4 class="text-xl text-delfim-primary font-semibold">
      Terms and conditions
    </h4>
    <p class="text-base">
      The content of this website is made available for the purpose of providing
      information of a general nature and does not constitute the provision of
      services legal. Delfim Maia Advogados (DM – Advogados), excludes its
      responsibility for any damages that may occur in connection with the
      information contained on this website. This website is for informational
      purposes only and does not has advertising content.
    </p>
    <p class="text-base">
      Delfim Maia Advogados authorizes the downloading and storage temporary use
      of the content of this website for viewing purposes on a personal device.
      Reproduction, permanent storage or retransmission of the contents of this
      website are expressly prohibited without prior written authorization from
      this company. All the rights relating to this website, including the
      registered trademark, are the property of exclusive to Delfim Maia
      Advogados.
    </p>
    <div class="text-base">
      <b>Information collected and its use</b>
      <p>
        Browsing this website does not imply the provision of personal data, as
        that no personal data that is identify a user.
      </p>
    </div>

    <p class="text-base">
      Delfim Maia Advogados may collect non-personal information and
      non-identifiable of a specific user for tracking purposes the use of its
      services and to assist in the development and improvement of site.
    </p>

    <div class="text-base">
      <b>Personal data processing</b>
      <p>
        Delfim Maia - Advogados is committed to protecting the privacy of users
        of your website. Although browsing the site does not imply providing
        personal data, we collect the information you choose to make available
        with the acceptance of its cookies. So that the data personal data
        collected by filling out a form, if necessary, existing system are used,
        Delfim Maia – Advogados will provide the user the necessary information
        so that, in advance, he can provide your consent to their use,
        processing and purpose. For any questions regarding the processing of
        your data, please Please consult our Privacy Policy available here.
      </p>
    </div>

    <div class="text-base">
      <b>Acceptance of these terms</b>

      <p>
        By using this website you agree to the collection and use of your
        information, as set out in these Terms and Conditions and the Privacy
        Policy Privacy. Delfim Maia- Advogados reserves the right, at any time,
        to time and without prior notice, change these Terms and Conditions or
        Privacy Policy, with changes being published in this same local. By
        providing us with your contact details, DM-Advogados will be able to
        contact you for marketing purposes related to your services, as long as
        you have consented to the processing of your data personnel for this
        purpose. If you consent, you will receive communications from marketing
        via email. You may at any time object to this data processing.
      </p>
    </div>

    <p class="text-base">
      Your consent is essential for DM-Advogados to process your personal data
      for certain purposes; however, if you choose not to give your consent,
      your visit and use of our website will not be affected.
    </p>

    <div class="text-base">
      <b>How long do we keep your information?</b>
      <p>
        Our policy is to retain data only during the period necessary for the
        fulfillment of the purposes for which these were collected. However, in
        certain cases we may retain data over longer periods, particularly when
        the Law so requires impose.
      </p>
    </div>

    <div class="text-base">
      <b>What are my rights?</b>
      <p>
        At any time, you have the right to access your personal data, as well
        as, within the limits of the contract and the Regulation, of the change,
        oppose the respective treatment, decide on the treatment automation of
        the same, withdraw consent and exercise other rights provided for by law
        (except for data that are essential to the provision of services by
        DM-Advogados).
      </p>
    </div>

    <p class="text-base">
      You have the right to be notified, under the terms set out in the
      Regulation, if a breach of your personal data occurs, which may result in
      complaints to the authority(ies).
    </p>

    <p class="text-base">
      DM-Advogados guarantees all the rights enshrined in the Regulation, to In
      a simple way, you can send an email to geral@delfimmaia.pt requesting that
      all information about you be made available to you in our society's
      database.
    </p>

    <div class="text-base">
      <b>Security and Confidentiality</b>
      <p>
        We are committed to keeping your data secure, and we employ appropriate
        security measures to ensure that the protection of your personal data
        and prevent access to unauthorized persons. We submit our security
        systems and policies to periodic analysis of to ensure that data is safe
        and protected. However, the Transmission of information via the Internet
        is not completely secure, and we cannot absolutely guarantee the
        security of information transmitted through our website.
      </p>
    </div>

    <p class="text-base">
      We also respect the confidentiality of your information. As such, no sell,
      distribute or otherwise make available commercially your information to
      any third party. DM-Advogados assumes a commitment to keep your
      information confidential in accordance with this Privacy Policy and
      applicable legislation.
    </p>
  </main>
</Layout>
