---
import LandingHero from "@/components/LandingHero.astro";
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import History from "@/components/History.astro";
import TeamSection from "@/components/TeamSection.astro";
import ExpertiseAreas from "@/components/ExpertiseAreas.astro";
import Contacts from "@/components/Contacts.astro";
---

<Layout>
  <main class="h-full">
    <LandingHero />
    <History />
    <TeamSection />
    <ExpertiseAreas />
    <Contacts />
  </main>
</Layout>
