---
import LandingHero from "@/components/LandingHero.astro";
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="h-full">
    <LandingHero />
  </main>
  <div class="h-[1800px]"></div>
</Layout>
