---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Termos e Condições">
  <main class="min-h-d-screen p-8 lg:px-24 flex flex-col gap-8">
    <h4 class="text-xl text-delfim-primary font-semibold">
      Termos e Condições
    </h4>
    <p class="text-base">
      O conteúdo deste site é disponibilizado com o objetivo de fornecer
      informações de caráter geral e não constitui a prestação de serviços
      jurídicos. A Delfim Maia Advogados (DM – Advogados), exclui a sua
      responsabilidade por quaisquer danos que poderão ocorrer relacionados com
      a informação contida neste site. Este site é meramente informativo e não
      tem um conteúdo publicitário.
    </p>
    <p class="text-base">
      A Delfim Maia Advogados autoriza o descarregamento e armazenamento
      temporário do conteúdo deste site para efeitos de visualização do mesmo
      num dispositivo pessoal. A reprodução, armazenamento permanente ou
      retransmissão do conteúdo deste site são expressamente proibidos sem a
      autorização prévia e por escrito desta empresa. Todos os direitos
      relativos a este site, incluindo a marca registada, são da titularidade
      exclusiva da Delfim Maia Advogados.
    </p>
    <div class="text-base">
      <b>Informação recolhida e respetiva utilização</b>
      <p>
        A navegação neste site não implica o fornecimento de dados pessoais, já
        que não fica registado de forma automática nenhum dado pessoal que
        identifique um utilizador.
      </p>
    </div>

    <p class="text-base">
      A Delfim Maia Advogados poderá recolher informação de caráter não pessoal
      e não identificável de um utilizador concreto para fins de acompanhamento
      do uso dos seus serviços e para auxílio no desenvolvimento e melhoria do
      site.
    </p>

    <div class="text-base">
      <b>Tratamento de dados pessoais</b>
      <p>
        A Delfim Maia - Advogados está empenhada em proteger a privacidade dos
        utilizadores do seu site. Apesar da navegação no site não implicar o
        fornecimento de dados pessoais, recolhemos as informações que optar por
        disponibilizar com a aceitação dos cookies do mesmo. Para que os dados
        pessoais recolhidos através do preenchimento de um, eventual, formulário
        existente sejam utilizados, a Delfim Maia – Advogados proporcionará ao
        utilizador a informação necessária para que, previamente, possa prestar
        o seu consentimento à utilização, tratamento e finalidade dos mesmos.
        Para quaisquer questões relativas ao tratamento dos seus dados, por
        favor consulte a nossa Política de Privacidade disponível aqui.
      </p>
    </div>

    <div class="text-base">
      <b> Aceitação destes termos</b>

      <p>
        Ao utilizar este site concorda com a recolha e uso das suas informações,
        tal como estabelecido nestes Termos e Condições e na Política de
        Privacidade. A Delfim Maia- Advogados reserva-se no direito de, a todo o
        momento e sem aviso prévio, alterar os presentes Termos e Condições ou
        Política de Privacidade, sendo as alterações publicadas neste mesmo
        local. Ao disponibilizar-nos os seus contactos, a DM-Advogados poderá
        contactá-lo/a para efeitos de marketing relacionado com os seus
        serviços, desde que tenha consentido o tratamento dos seus dados
        pessoais para este efeito. Caso consinta, receberá comunicações de
        marketing através de e-mail. Poderá a qualquer momento se opor a este
        tratamento de dados.
      </p>
    </div>

    <p class="text-base">
      O seu consentimento é essencial para que a DM-Advogados trate os seus
      dados pessoais para determinados efeitos; no entanto, se escolher não dar
      o seu consentimento, a sua visita e utilização do nosso sítio não será
      afetada.
    </p>

    <div class="text-base">
      <b>Durante quanto tempo conservamos a sua informação?</b>
      <p>
        A nossa política consiste na conservação de dados apenas durante o
        período necessário para a observância dos propósitos para os quais estes
        foram recolhidos. No entanto, em determinados casos poderemos conservar
        os dados durante períodos mais longos, nomeadamente quando a Lei assim o
        impuser.
      </p>
    </div>

    <div class="text-base">
      <b>Quais são os meus direitos?</b>
      <p>
        Em qualquer momento, tem o direito de aceder aos seus dados pessoais,
        bem como, dentro dos limites do contratualizado e do Regulamento, de os
        alterar, opor-se ao respetivo tratamento, decidir sobre o tratamento
        automatizado dos mesmos, retirar o consentimento e exercer os demais
        direitos previstos na lei (salvo quanto aos dados que são indispensáveis
        à prestação dos serviços pela DM-Advogados).
      </p>
    </div>

    <p class="text-base">
      Tem o direito de ser notificado, nos termos previstos no Regulamento, caso
      ocorra uma violação dos seus dados pessoais, podendo apresentar
      reclamações perante a(s) autoridade(s).
    </p>

    <p class="text-base">
      A DM-Advogados garante todos os direitos consagrados no Regulamento, para
      tal de um modo simples poderá enviar um e-mail para geral@delfimmaia.pt
      solicitando que lhe seja disponibilizada toda a informação a seu respeito
      na base de dados da nossa sociedade.
    </p>

    <div class="text-base">
      <b>Segurança e Confidencialidade</b>
      <p>
        Empenhamo-nos em manter os seus dados seguros, sendo que empregamos
        medidas de segurança apropriadas para assegurar que a proteção dos seus
        dados pessoais e impedir o acesso a pessoas não autorizadas. Submetemos
        os nossos sistemas e políticas de segurança a análises periódicas de
        forma a garantir que os dados estão seguros e protegidos. No entanto, a
        transmissão de informação através de Internet não é completamente
        segura, e não podemos garantir absolutamente a segurança da informação
        transmitida através do nosso sítio.
      </p>
    </div>

    <p class="text-base">
      Respeitamos também a confidencialidade da sua informação. Como tal, não
      vendemos, distribuímos ou de qualquer outro modo disponibilizamos
      comercialmente a sua informação a qualquer terceiro. A DM-Advogados assume
      o compromisso de manter a sua informação confidencial de acordo com esta
      Política de Privacidade e legislação aplicável.
    </p>
  </main>
</Layout>
