<div class="border border-delfim-primary rounded-sm">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.9681776955595!2d-8.750360182556168!3d41.35304539999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2446aa00676af3%3A0x280dd55abbe409ec!2sAdvogados%20Delfim%20Maia!5e0!3m2!1spt-PT!2spt!4v1697381341030!5m2!1spt-PT!2spt"
    width="450"
    height="280"
    class="w-full aspect-video rounded-sm"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
