---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import ContactInfo from "./ContactInfo.astro";
import ContactMapEmbeded from "./ContactMapEmbeded.astro";
import SectionTitle from "./SectionTitle.astro";
import { Smartphone, Mail, Home } from "lucide-astro";

const lang = getLangFromUrl(Astro.url);
const translationContent = useTranslations(lang);
const { title, address, telephone } = translationContent.contacts;
---

<section id="contacts" class="h-full overflow-hidden">
  <SectionTitle>{title}</SectionTitle>
  <article class="w-full h-full p-8 sm:p-24 flex justify-center items-center">
    <div class="grid place-content-center gap-8 sm:gap-24">
      <div class="flex gap-8 flex-col sm:flex-row items-start sm:items-center">
        <ContactInfo title={`${address.title}:`}>
          <Home class="text-white" slot="contact-info-icon" />
          <div slot="contact-info-description">
            <a
              href="https://www.google.com/maps?ll=41.353045,-8.748172&z=16&t=m&hl=pt-PT&gl=PT&mapclient=embed&cid=2886197521890413036"
              target="_blank"
              class="hover:underline"
              rel="noopener noreferrer"
            >
              <p class="text-base">
                Av. Dr. Artur da Cunha Araújo, 317
                <br />
                 4480-667 Vila do Conde
              </p>
            </a>
          </div>
        </ContactInfo>
        <ContactInfo title={`${telephone.title}:`}>
          <Smartphone class="text-white" slot="contact-info-icon" />
          <div slot="contact-info-description">
            <a
              target="_blank"
              class="hover:underline"
              href="tel:+351 252 640 720"
            >
              <p class="text-base">252 640 720</p>
            </a>

            <p class="text-xs">{telephone.information}</p>
          </div>
        </ContactInfo>

        <ContactInfo title="E-Mail:">
          <Mail class="text-white" slot="contact-info-icon" />
          <div slot="contact-info-description">
            <a
              target="_blank"
              class="hover:underline"
              href="mailto:geral@delfimmaia.pt"
            >
              <p class="text-base">geral@delfimmaia.pt</p>
            </a>
          </div>
        </ContactInfo>
      </div>
      <ContactMapEmbeded />
    </div>
  </article>
</section>
