---
import { Image } from "astro:assets";
import HistoryIllustrationImage from "@/images/history-illustration.webp";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translationContent = useTranslations(lang);
const { title, subTitle, historyText } = translationContent.history;
---

<section id="history" class="grid grid-cols-1 sm:grid-cols-[1fr_65%]">
  <div class="relative">
    <Image
      class="hidden sm:block h-full w-full"
      alt="Ilustração da História de Delfim Maia"
      src={HistoryIllustrationImage}
    />
    <p
      class="p-1 bg-delfim-primary sm:bg-transparent text-white text-3xl sm:absolute top-4 -right-[10%] block text-center font-bold uppercase text-shadow shadow-slate-600"
    >
      {
        lang === "pt" ? (
          <>
            Quem{" "}
            <span class="bg-delfim-primary sm:py-1 sm:px-2 text-shadow-sm shadow-slate-600">
              Somos
            </span>
          </>
        ) : (
          <>
            About <span class="bg-delfim-primary sm:py-1 sm:px-3 ">Us</span>
          </>
        )
      }
    </p>
  </div>
  <article
    class="px-4 py-10 sm:py-4 sm:pt-28 w-full flex flex-col gap-4 max-w-5xl justify-between"
  >
    <h5 class="uppercase font-bold text-xl sm:text-2xl">{subTitle}</h5>

    {
      historyText.map((text) => (
        <p class="text-balance text-sm sm:text-lg leading-7">{text}</p>
      ))
    }
  </article>
</section>
