---
import { languages } from "@/i18n/ui";
import { getLangFromUrl } from "@/i18n/utils";
import { cn } from "@/lib/utils";

const activeLang = getLangFromUrl(Astro.url);
---

<ul class="flex sm:hidden gap-2">
  {
    Object.entries(languages).map(([language]) => (
      <li class="text-white">
        <a
          class={cn(
            "uppercase text-sm font-semibold hover:underline",
            `${activeLang === language ? "underline" : ""}`,
          )}
          href={`/${language}/`}
        >
          {language}
        </a>
      </li>
    ))
  }
</ul>
