---
import { Image } from "astro:assets";
import type { TeamMember } from "./data";
import { cn } from "@/lib/utils";

const BACKGROUNDS_COLORS: {
  imageBackground: string;
  textBackground: string;
}[] = [
  { imageBackground: "bg-[#d9d9d9]", textBackground: "bg-[#4b3f3f]" },
  { imageBackground: "bg-[#697a7f]", textBackground: "bg-[#697a7f]" },
  { imageBackground: "bg-[#a9afbb]", textBackground: "bg-[#a9afbb]" },
  { imageBackground: "bg-[#bd9084]", textBackground: "bg-[#bd9084]" },
  { imageBackground: "bg-[#b1ced1]", textBackground: "bg-[#697a7f]" },
  { imageBackground: "bg-[#ebcfbd]", textBackground: "bg-[#ebcfbd]" },
  { imageBackground: "bg-[#cbaabd]", textBackground: "bg-[#cbaabd]" },
  { imageBackground: "bg-[#b3c1b6]", textBackground: "bg-[#b3c1b6]" },
  { imageBackground: "bg-[#cccfff]", textBackground: "bg-[#cccfff]" },
  { imageBackground: "bg-[#d5a38f]", textBackground: "bg-[#d5a38f]" },
  { imageBackground: "bg-[#dfdaa9]", textBackground: "bg-[#dfdaa9]" },
  { imageBackground: "bg-[#c67f78]", textBackground: "bg-[#bd9084]" },
];

type Props = TeamMember & {
  className?: string;
  teamMemberIndex: number;
};

const { name, image, role, className, teamMemberIndex } = Astro.props;

const { imageBackground, textBackground } =
  BACKGROUNDS_COLORS[teamMemberIndex % BACKGROUNDS_COLORS.length];
---

<a class={cn("block relative", imageBackground, className)} href="bg-[#">
  <Image alt="" class="h-auto max-w-full" src={image} />
  <div
    class={cn(
      "absolute bottom-5 right-0 text-white py-2 min-w-[50%] flex justify-end",
      textBackground,
    )}
  >
    <div
      class={cn(
        "text-sm w-fit text-right capitalize font-semibold text-shadow-sm shadow-slate-600",
      )}
    >
      <h6 class="text-sm border-b pr-2">
        {name}
      </h6>
      <hr />
      <p class="text-sm px-2">{role}</p>
    </div>
  </div>
</a>
