---
import SectionTitle from "./SectionTitle.astro";
import TeamMemberCard from "./TeamMemberCard.astro";
import { TEAM_MEMBERS } from "./data";
---

<section class="flex flex-col gap-4">
  <SectionTitle>Equipa</SectionTitle>
  <article
    class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 place-items-center"
  >
    {
      TEAM_MEMBERS.map((teamMember, index) => (
        <TeamMemberCard teamMemberIndex={index} {...teamMember} />
      ))
    }
  </article>
</section>
