---
import { getLangFromUrl } from "@/i18n/utils";
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import type { TeamMember } from "../types/TeamMember";
import { TEAM_MEMBER_BACKGROUNDS_COLORS } from "./data";

type Props = TeamMember & {
  className?: string;
  teamMemberIndex: number;
};

const lang = getLangFromUrl(Astro.url);

const {
  teamMemberId,
  name,
  roleEn,
  rolePt,
  image,
  className,
  teamMemberIndex,
} = Astro.props;

const { imageBackground, textBackground, hoverImageBackground } =
  TEAM_MEMBER_BACKGROUNDS_COLORS[
    teamMemberIndex % TEAM_MEMBER_BACKGROUNDS_COLORS.length
  ];
---

<a
  class={cn(
    "block relative w-full transition-colors ease-in-out duration-300 h-[36rem]",
    imageBackground,
    hoverImageBackground,
    className,
  )}
  href={`/${lang}/team/${teamMemberId}`}
>
  <Image width={300} height={520} alt="" src={image} />
  <div
    class={cn(
      "absolute bottom-5 right-0 text-white py-2 min-w-[50%] w-fit flex justify-end",
      textBackground,
    )}
  >
    <div
      class={cn(
        "text-sm w-fit pl-3 text-right capitalize text-shadow-sm shadow-slate-600",
      )}
    >
      <h6 class="text-sm border-b pr-2 font-semibold">
        {name}
      </h6>
      <hr />

      <p class="text-sm pr-2">{lang === "en" ? roleEn : rolePt}</p>
    </div>
  </div>
</a>
