---
import Navbar from "@/components/Navbar.astro";
import PageBackground from "@/components/PageBackground.astro";

interface Props {
  title?: string;
}
---

<!doctype html>
<html class="h-full" lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Escritório de advocacia com mais de 40 anos de história, fundado por Dr. J. Delfim Maia em 1980. Equipe multifacetada com vasta experiência em diversas áreas do Direito, pautada por valores de independência profissional, integridade, qualidade do serviço, competência técnica, combatividade, audácia e dedicação. Complementaridade e parcerias estratégicas para oferecer soluções abrangentes aos clientes. Espírito de equipe, colaboração e busca constante pela melhor resposta às solicitações."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Delfim Maia</title>
  </head>
  <body class="h-full">
    <PageBackground />
    <Navbar />
    <slot />
  </body>
</html>
