---
import Navbar from "@/components/Navbar.astro";

interface Props {
  title?: string;
}
---

<!doctype html>
<html class="h-full" lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Delfim Maia</title>
  </head>
  <body class="min-h-screen h-full bg-page-bg bg-cover bg-no-repeat">
    <Navbar />
    <slot />
  </body>
</html>
