---
import { cn } from "@/lib/utils";
interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<header class={cn("w-full", className)}>
  <h5 class="uppercase text-center md:text-start text-2xl md:text-4xl">
    <slot />
  </h5>
</header>
